.small-wrap {
    width: 1500px;
}
.header-wrap h1 a {
    width: 1500px;
}
.content-wrap {
    width: 1500px;
}
.right-frame {
    width: 1342px;
}

/*order*/
.order .stone {
    width: 70px;
    text-align: center;
}
.order .factory-name {
    width: 90px;
    text-align: center;
}
.order .price-factory {
    width: 90px;
    text-align: center;
}
.order .paid {
    width: 95px;
    text-align: center;
}
.order .control {
    width: 80px;
    text-align: center;
}
