.content-wrap {
    width: 1000px;
    margin: auto;
}

/*指示条*/
.indicator {
    background-color: #2b749d;
    color: white;
    height: 27px;
    line-height: 27px;
    color: #bebebe;
}
.indicator span {
    display: block;
    float: left;
    width: 270px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.indicator .on {
    color: white;
    width: 436px;
}
.indicator .sep {
    width: 12px;
    background-color: white;
    height: 27px;
    -moz-transform:matrix(1.0,0.0,-0.8,1.0,0px,0px);-moz-transform-origin:0% 0%;-webkit-transform:matrix(1.0,0.0,-0.8,1.0,0,0);-moz-transform-origin:0% 0%;-o-transform:matrix(1.0,0.0,-0.8,1.0,0,0);-o-transform-origin:0% 0%)
}

/*标题*/
div.title {
    padding: 30px 15px; 

}
div.title h2 {
    display: inline;
    font-size: 16px;
    font-weight: bold;
}
div.title a {
    color: #007dcc;
    padding-left: 20px;
}
div.title a:hover {
    text-decoration: underline;
}

h3 {
    color: #7c7b7b;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 20px;
}

/*表格*/
.table-title-row {
    border-bottom: 1px solid #569dcd;
    color: #7c7b7b;
    height: 25px;
    line-height: 25px;
}

.col {
    width: 20%;
}
.col.title {
    font-weight: bold;
    text-align: center;
}

.product-entry {
    background-color: #e6f5ff;
    border-bottom: 1px dotted #c1bfbf;
    clear: both;
    color: #6f6f6f;
}

.name {
    width: 215px;
}

.product-entry .name .image-wrap {
    padding: 15px 13px;
    float: left;
}
.product-entry .image-wrap img {
    width: 40px;
    border: 1px solid #cccccc;
}

.product-entry .name .text-wrap {
    padding-top: 12px;
    float: left;
}
.product-entry .name span {
    display: block;
}
.product-entry .name .text {
    font-size: 14px;
    font-weight: bold;
    color: #595858;
    padding-bottom: 10px;
}

.e-info {
    width: 450px;
}
.product-entry .e-info {
    padding-top: 8px;
}
.product-entry .e-info div {
    padding: 5px 0;
}
.product-entry .e-info .e {
    padding-left: 10px;
}

.product-entry .num, .product-entry .price, .product-entry .del {
    margin-top: 40px;
}

.num {
    width: 70px;
    text-align: center;
    font-weight: bold;
}

.price {
    width: 120px;
    text-align: center;
    font-weight: bold;
}
div.price {
    color: #f2541d;
}

.del {
    width: 100px;
    text-align: center;
}

div.del {
    text-decoration: underline;
    color: #b5b5b5;
}

.col.del {
    position: relative;
}
.col.del .popup {
    display: none;
    position: absolute;
    border: 1px solid;
    background-color: white;
    margin: auto;
    left: 30%;
}
.popup .ok-btn, .popup .cancel-btn {
    cursor: pointer;
}


div.remark {
    clear: both;
    padding: 15px;
}
.remark .text-in {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.remark input[type=submit] {
    display: none;
}

/*共计*/
.total-info span {
    display: block;
    padding: 17px 8px;
    font-weight: bold;
    font-size: 15px;
    width: 170px;
}
.total-info span strong {
    color: #ff6600;
    font-weight: bold;
}
.total-info .count {
    float: left;
}
.total-info .price {
    float: right;
}

/*地址*/
.addr-info {
    clear: both;
    border-top: 1px solid #dec138;
    background-color: #fffce6;
    padding: 20px 15px;
    color: #575353;
}
.addr-info .edit-addr-btn {
    cursor: pointer;
    float: right;
    color: #b5b5b5;
    text-decoration: underline;
}

.addr {
    padding: 15px 40px 40px;
    background-color: #fffce6;
    color: #ff6600;
    font-weight: bold;
}
.addr span, .addr label {
    padding-right: 10px;
}

.submit-btn {
    float: right;
    width: 250px;
    height: 60px;
    display: block;
    margin: 30px 0;
    border: none;
    background-color: #0073b3;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #1389CA;
}




.address-edit.append-div {
    width: 500px;
}
.edit-addr-btn {
    
}



