h2 {
    display: inline-block;
}
.col {
    display: inline-block;
    width: 20%;
}
.col.title {
    font-weight: bold;
    text-align: center;
}
.col.info {
    width: 30%;
}
.col.info span {
    display: inline-block;
    margin: 0 10px;
}
.col.price, .col.del {
    text-align: center;
}
.col.del {
    position: relative;
}
.col.del .popup {
    display: none;
    position: absolute;
    border: 1px solid;
    background-color: white;
    margin: auto;
    left: 30%;
}
.popup .ok-btn, .popup .cancel-btn {
    cursor: pointer;
}

form.remark input[type=submit] {
    display: none;
}

.address-edit.append-div {
    width: 500px;
}
.edit-addr-btn {
    cursor: pointer;
    float: right;
}
