/* 
    Document   : index
    Author     : ryan
*/

/* 搜索 */
.search {
    border: 1px solid;
}
.search .type ul {
    display: inline-block;
}
.search .type ul li {
    display: inline-block;
}

/* 翻页 */
.page-info {
    border: 1px solid;
}

/* 产品列表 */
.product-list li {
    border: 1px solid;
}
.product-list .left, .product-list .mid {
    float: left;
}
.product-list .left {
    width: 150px;
}
.product-list .mid {
    width: 400px;
}
.product-list .right {
    float: right;
    width: 180px;
    padding-top: 40px;
}
.product-list .right .add.btn {
    display: block;
}
.product-list .right span {
    display: block;
    text-align: center;
}

ul.type-selector li {
    display: inline-block;
    cursor: pointer;
}

.carve {
    display: inline-block;
    position: relative;
}

.carve .carve-box {
    display: none;
    border: 1px solid;
    position: absolute;
    background-color: white;
}
.carve:hover .carve-box {
    display: block;
}
