.col.name {
    width: 8%;
}
.col.info {
    width: 12%;
}
.col.realname {
    width: 10%;
}
.col.price-estimate {
    width: 10%;
}
.col.factory-name {
    width: 8%;
}
.col.price-factory {
    width: 10%;
}
.col.price-real {
    width: 10%;
}
.col.paid {
    width: 10%;
}
.col.state {
    width: 8%;
}
.col.control {
    width: 8%;
}

.detail-info {
    background-color: #ccc;
}
.detail-info .address {
    float: left;
    width: 300px;
}
.detail-info .log {
    float: right;
    width: 300px;
}

.choose-factory-btn {
    cursor: pointer;
}
