.content-wrap {
    width: 1000px;
    margin: auto;
}

.right-frame {
    width: 842px;
}

.search {
    padding-top: 10px;
}
.search .e {
    height: 34px;
    line-height: 34px;
    padding-left: 15px;
}
.search .e .ti {
    width: 110px;
}
.search .mbtn {
    width: 64px;
    height: 26px;
    border: 1px solid #2b749d;
    margin-left: 20px;
}

.col.name {
    width: 8%;
}
.col.info {
    width: 12%;
}
.col.realname {
    width: 10%;
}
.col.price-estimate {
    width: 10%;
}
.col.factory-name {
    width: 8%;
}
.col.price-factory {
    width: 10%;
}
.col.price-real {
    width: 10%;
}
.col.paid {
    width: 10%;
}
.col.state {
    width: 8%;
}
.col.control {
    width: 8%;
}

.detail-info {
    background-color: #ccc;
}
.detail-info .address {
    float: left;
    width: 300px;
}
.detail-info .log {
    float: right;
    width: 300px;
}

.choose-factory-btn {
    cursor: pointer;
}

.pay-btn {
    cursor: pointer;
}

.edit-info-btn {
    cursor: pointer;
}

.order-change.append-div {
    width: 700px;
}
.order-change.append-div .box-container {
    float: left;
    width: 100px;
}
.box-container .box {
    border: 1px dotted;
    height: 150px;
}
.order-change.append-div .more-info {
    clear: both;
}
.order-change.append-div input[type=text] {
    width: 50px;
}

.order-pay.append-div {
    width: 500px;
}


.order-edit.append-div {
    width: 600px;
}

.factory-select.append-div {
    width: 500px;
}

.order-control.append-div {
    width: 500px;
}

.order-stone.append-div {
    width: 600px;
}
