/* 
    Document   : style
    Created on : Sep 21, 2012, 1:14:09 PM
    Author     : ryan
*/

/* 全局 */
body {
    font-size: 13px;
}
a {
    text-decoration: none;
}
td, th {
    border: 1px solid;
}
.btn {
    cursor: pointer;
    text-align: center;
}
.clear-fix {
    clear: both;
}
.header-wrap, .content-wrap, .footer-wrap {
    clear: both;
}
.small-wrap {
    width: 1000px;
    margin: auto;
    clear: both;
}

/* 头部 */
.header-wrap {
}
.header-wrap a, .header-wrap span {
    font-size: 13px;
    line-height: 24px;
}

.header-wrap .price {
    float: left;
    margin-left: 5px;
}
.header-wrap .price span {
}
.header-wrap .price .lbl {
    font-weight: bold;
    padding-right: 5px;
}
.header-wrap .price .info {
    color: #2b749d;
}

.header-wrap .account {
    float: right;
}
.header-wrap .account span, .header-wrap .account a {
}
.header-wrap .account .welcom {
    color: #a5a5a5;
    padding-right: 23px;
}
.header-wrap .account .cart {
    color: #e73600;
    padding-right: 23px;
}
.header-wrap .account .my-order {
    color: #3e3e3e;
    padding-right: 23px;
}
.header-wrap h1:before {
    display: block;
    content: "";
    height: 0;
    border-top: 1px solid #f3f3f3;
}
.header-wrap h1 {
    border-top: 1px solid #d7d7d7;
    clear: both;
}
.header-wrap h1 a {
    width: 1000px;
    margin: auto;
    display: block;
    padding: 20px 30px;
}

/* 附加层 */
.append-parent {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    display: none;
}
.append-div {
    background-color: white;
    margin: auto;
    margin-top: 50px;
    display: none;
}
.append-div .close-btn {
    cursor: pointer;
    float: right;
    display: block;
}

/*中部*/

/* 脚部 */
.footer-wrap {
    clear: both;
    background-color: #e1e1e1;
    text-align: center;
    color: #8a8a8a;
    padding: 15px;
    border-top: 1px solid #cfcfcf;
}

/* 404 页面 */



/* login or register */
form.logreg div {
    margin: 13px 0;
}
form.logreg div label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
form.logreg .ok.btn {
    margin-left: 110px;
}

/* 侧边栏 */
.main-nav {
    float: left;
    width: 17%;
    border: 1px solid;
}
.main-nav dt {
    font-weight: bold;
}
.main-nav dd.on {
    background-color: yellow;
}
.right-frame {
    float: right;
    width: 80%;
}

/* 面包屑导航 */
.crumb {
    border: 1px solid;
}

/* 搜索框 */
div.search .e {
    display: inline-block;
}

/* 模拟表格 */
.col {
    display: inline-block;
    border: 1px solid;
    width: 7%;
}
.col.title {
    font-weight: bold;
    text-align: center;
}

/*翻页*/
.paging {
    color: #8d8d8d;
}
.paging .btn {
    color: #8d8d8d;
    display: block;
    float: left;
    height: 22px;
    border: 1px solid #c5c5c5;
    line-height: 22px;
    text-align: center;
}
.paging .btn:hover {
    background-color: #F1F1F1;
}
.paging .num {
    width: 22px;
    margin: 9px 9px 9px 0;
}
.paging .on {
    background-color: #dfdfdf;
}
.paging .ommision {
    display: block;
    float: left;
    margin: 9px;
}
.paging .next-page-btn {
    width: 60px;
    margin: 9px;
}

/*错误提示*/
.error {
    color: red;
}

