

.col.phone {
    width: 6em;
}
.col.qq {
    width: 6em;
}





.more-info {
    background-color: #eee;
    display: none;
}
.login-info {
    float: left;
}
.detail-info {
    float: right;
}
.edit-btn {
    cursor: pointer;
}

.user-edit.append-div {
    width: 600px;
}
