.pass {
    background-color: green;
    color: white;
}
.fail {
    background-color: red;
    color: white;
    font-weight: bold;
}
.conclusion {
    font-size: xx-large;
    clear: both;
}

h1, h2, ol {
    margin: 0;
}
hr {
    margin: 1px;
    clear: both;
}
.clear.btn {
    float: right;
    display: block;
    padding: 5px;
}
h1 {
    float: left;
}
